@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #dcdce6;
    background-image: url('../public/Background.png');
}

input[type='file']{
    display: none;
}

textarea {
    resize: none;
}
